<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicaciones para Dispositivos Móviles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
</head>
<body>

        <header class=" bg-primary">
            <h1 class="text-white"> LocalSotarge & Fetch</h1>
        </header>
        <main id="app" class="container">
            <div class="row mt-3">
                <div class="col-md-4">

                    <form v-on:submit.prevent="inscribirse" action="" class="card p-2">
                        <label for="">Nombre</label>
                        <input v-model="nombre" type="text" class="form-control">

                        <label for="">Apellido</label>
                        <input v-model="apellido"  type="text" class="form-control">

                        <label for="">Email</label>
                        <input v-model="email" type="email" class="form-control">

                        <label for="">Curso</label>
                        <select v-model="cursoId" class="form-control">
                            <option 
                                v-for="(curso, index) in cursos" 
                                v-bind:value="curso.id"
                                v-text="curso.name">
                            </option>
                        </select>
                        <button type="submit" class="btn btn-success mt-2"> Inscribirse</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="list-group">
                        <a 
                            v-for="(inscripcion, index) in inscripciones" 
                            
                            href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ inscripcion.nombre}}</h5>
                                <small> {{ inscripcion.hora}} </small>
                            </div>
                            <p class="mb-1">{{ obtenerCurso(inscripcion.cursoId)  }}</p>
                            <small>{{ inscripcion.fecha}}</small>
                        </a>

                        
                    </div>

                </div>
                <div class="col-md-2">
                    <h4> Totales {{ total }}</h4>
                </div>
            </div>
        </main>

        <footer class="bg-dark">
            <p class="text-white"> Aplicaciones para Dispositivos Móviles</p>
        </footer>


</body>
</html>